{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "eqeqeq": [2, "allow-null"],
    "no-unused-vars": 2,
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "semi": [2, "always"],
    "react/jsx-quotes": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/prop-types": [2, {
        ignore: 'children'
    }],
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": [2, {
      order: [
        '/^constructor$/',
        'lifecycle',
        'everything-else',
        'render'
      ]
    }],
    "react/wrap-multilines": 2
  }
}