{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },
  "extends": "airbnb-base",
  "plugins": [
    "react"
  ],
  rules: {
    "indent": ["error", 4],
    "no-underscore-dangle": ["off"]
  }
}
